body {
    background-color: rgb(175, 143, 149);
    margin: 0;
}

header {
    background-color: rgb(229, 182, 182); 
    height:100px; 
    padding-top: 30px;
}

footer {
    background-color: rgb(229, 182, 182); 
    height: 75px;
    
}



h1 {
    font-family: 'Oswald', sans-serif;  
    text-align: center;
    color: whitesmoke;
    letter-spacing: 0.2pc;
    
}


h2 {
    font-family: 'Lobster', cursive;
    text-align: center;

}


h3 {
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    letter-spacing: 0.2pc;

}

h4 {
    text-align: right;
    margin-right: 5pc;
    
}

span {
    color: rgb(66, 63, 63);
    font-weight: bold;

}



.infos {
    font-family: 'Arapey', serif;
    
    
}

.text {
    font-family: 'Merriweather', serif;
    color: rgb(238, 230, 230);
    margin-left:  10px;
}

.container {
    display: flex;
    justify-content: space-between;


}


    @media (max-width: 600px) {
        .container {display: flex;
        flex-direction: column; }


    }
